{% extends "index.html" %}

{% block contentTitle %}
    <h1>We have a passion for games.</h1>
    <p>It's what ties us all together.</p>
{% endblock %}
{% block contentBody %}
    <div class="span6">
      <h2>Why else would we spend our free time doing this?</h2>
      <p>
        Let's face it: there's a reason why we're all here. We do it because we love it.
        We do it because we all have a deep appreciation for games. Not just video games,
        but all games. Not just playing them, but analyzing them. Picking them apart.
        Experimenting with rules to see how it affects the mechanics and how that can
        improve the experience. If you find yourself constantly questioning why a certain
        game designer made a particular decision about a rule, look no further; we do that too.
        In fact, we relish it.
      </p>
    </div>
{% endblock %}