{% extends "index.html" %}

{% block contentTitle %}
    <h1>If you need to reach us:</h1>
    <p>This is where the internet comes in handy.</p>
{% endblock %}
{% block contentBody %}
    <div class="span6">
      <h2>We have a mailing list.</h2>
      <p>
        The mailing list situation (as with most situations presently) is kind of in flux.
        If you're trying to contact the club, the best way to do it (short of coming to
        a <a href="/events">meeting</a>) is to shoot an email to
        <a href="mailto:neugamedevclub@neu.edu">neugamedevclub@neu.edu</a>.
      </p>
      <p>
        If you'd like to get on the mailing list, just let an officer know at one of the meetings.
      </p>
    </div>
{% endblock %}