{% extends "index.html" %}

{% block contentTitle %}
    <h1>We talk about games, too.</h1>
    <p>And then sometimes we play them.</p>
{% endblock %}
{% block contentBody %}
    <div class="span12">
        <iframe src="https://www.google.com/calendar/embed?src=q99tiuu88a3o6k3sg6bujev050%40group.calendar.google.com&ctz=America/Los_Angeles"
                width="800"
                height="600"
                frameborder="0"
                scrolling="no">
        </iframe>
    </div>
{% endblock %}