{% load url from future %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>nuGDC</title>
    <!-- <meta name="description" content=""> -->
    <!-- <meta name="author" content=""> -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    {% include "components/navbar.html" %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          {% include "components/sidebar.html" %}
        </div>
        <div class="span10">
          <div class="content">
            <div class="hero-unit">
              {% block contentTitle %}
              <h1>We make games.</h1>
              <p>If you have a passion for designing and analyzing games of all kinds, then this is the place for you.</p>
              {% endblock %}
            </div>
            <div class="row-fluid">
              {% block contentBody %}
              <div class="span8">
                <h2>Hey!</h2>
                <p>I see you've found your way to our homepage! Check out the links on the right to find any information that you may be looking for.</p>
              </div>
              <div class="span4">
                <!--<h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p> -->
             </div>
             {% endblock %}
            </div>
          </div>
        </div>
      </div>
        <footer>
          <p>&copy; NUGDC, {{ current_time|date:"M Y" }}</p>
        </footer>
      </div>
    </div>

  </body>
</html>