<!-- navbar module -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="/">Northeastern University Game Development Club</a>
      <ul class="nav">
        <li><a href="/tracker/leaderboard">leaderboard</a></li>
      </ul>
      {% if user.is_authenticated %}
        <ul class="nav pull-right">
          <li>
            <p class="navbar-text pull-right">
              Welcome, <a href="/profile">{{ user.username }}</a>
            </p>
          </li>
          <li class="divider-vertical"></li>
          <li><a href="/logout">logout</a></li>
        </ul>
      {% else %}
        <ul class="nav pull-right">
          <li><a href="/login" class="navbar-text pull-right">login</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
</div>