<!-- sidebar module -->
<div class="sidebar-nav">
  <a href="/"><img src="{{ STATIC_URL }}images/nugdclogo.jpg" width="220" style="padding-bottom: 14px"/></a>
  <div class="well">
    <ul class="nav nav-list">
      <li class="nav-header">Things we do:</li>
      <li><a href="/events">Events</a></li>
      <li><a href="/projects">Current Projects</a></li>

      <li class="nav-header">Who we are:</li>
      <li><a href="/about">About us</a></li>
      <li><a href="/contact">Contact</a></li>

      <li class="nav-header">Be a part of it:</li>
      <li><a href="/join">Join</a></li>
      {% if user.is_authenticated %}
        <li class="nav-header">Tools: </li>
        <li><a href="/admin">Admin Tools</a></li>
        <li><a href="/tracker/member/add-member">Add Member</a></li>
        <li><a href="/tracker/unlockable/add-unlockable">Add Unlockable</a></li>
        <li><a href="/tracker/unlockable/mass-unlock">Mass Unlock</a></li>
        <li><a href="/tracker/attendance">Meeting Attendance</a></li>
      {% endif %}
    </ul>
  </div>
</div>