{% extends "index.html" %}

{% block contentTitle %}
  <h1>Feats</h1>
  <p>Just <em>try</em> and get them all.</p>
{% endblock %}

{% block contentBody %}
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td style="width: 50%;">Name</td>
        <td style="width: 25%;">Point Value</td>
        <td>Type</td>
      </tr>
    </thead>
    {% for feat in feats %}
      <tr>
        <td>{{ feat.name }}</td>
        <td><span class="badge badge-success">{{ feat.point_value }}</span></td>
        <td>{{ feat.type }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}