{% extends "index.html" %}

{% block contentTitle %}
  <h1>Tools</h1>
  <p>functionality? no way.</p>
{% endblock %}

{% block contentBody %}
  {% include "components/status.html" %}
  <form action="/tracker/unlockable/mass-unlock/" method="post">
    {% csrf_token %}
    <div>
      <style type="text/css">
        label input {
          display: inline;
        }
        ul {
          list-style-type: none;
        }
      </style>
      {{ formset }}
    </div>
    <input type="submit" value="Submit" />
  </form>
{% endblock %}