{% extends "index.html" %}

{% block contentTitle %}
  <h1>Tools</h1>
  <p>functionality? no way.</p>
{% endblock %}

{% block contentBody %}
  {% if message %}
    <script>
      $(".alert").alert()
    </script>
    {% if status == "success" %}
      <div class="alert alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <strong>Success!</strong> {{ message }}
      </div>
    {% else %}
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <strong>Whoops!</strong> {{ message }}
      </div>
    {% endif %}
  {% endif %}
  <h2>Add Member: </h2>
  <form method="post" action="/tracker/member/save-member/">
    {% csrf_token %}

    {{ formset }}

    <input type="submit" value="submit" style="display: block;"/>
    <input type="hidden" name="next" value="" />
  </form>
{% endblock %}