{% extends "index.html" %}

{% block contentTitle %}
  <h1>Unlockables</h1>
  <p>Just <em>try</em> and get them all.</p>
{% endblock %}

{% block contentBody %}
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td style="width: 5%; text-align: right;">#</td>
        <td style="width: 50%;">Name</td>
        <td style="width: 25%;">Point Value</td>
        <td>Type</td>
      </tr>
    </thead>
    {% for unlockable in unlockables %}
      <tr>
        <td style="text-align: right;">{{ forloop.counter }}</td>
        <td>
          <script>
            $(function ()
                { $("#name{{ forloop.counter }}").popover({
                  placement: 'right'
                });
            });
          </script>
          <a href="/tracker/unlockable/{{ unlockable.id }}" id="name{{ forloop.counter }}" rel="popover"
             data-original-title="Description"
             data-content="{{ unlockable.description }}">
            {{ unlockable.name }}
          </a>
        </td>
        <td><span class="badge badge-success">{{ unlockable.point_value }}</span></td>
        <td>{{ unlockable.type }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}